@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
}

body {
  padding-top: 56px;
}